.item {
    border: 1px solid grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.photo {
    width: 100%;
    height: 100%;
}

.show {
    visibility: visible;
}